[submodule "VoxelEngine/vendor/spdlog"]
	path = VoxelEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "VoxelEngine/vendor/GLFW"]
	path = VoxelEngine/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "VoxelEngine/vendor/imgui"]
	path = VoxelEngine/vendor/imgui
	url = https://github.com/TheCherno/imgui
